@import url("https://fonts.googleapis.com/css?family= Lato:400,700");

:root {
  --primaryColor: #085bf7;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTRansition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/*-------------Nav-bar-------------*/
.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(250, 248, 248);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.navbar-p {
  margin-right: 4%;
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.search-box {
  padding: 20px;
  margin-right: 15%;
}

.search-box input {
  background-color: #fffdfd;
  height: 40px;
  width: 130%;
  padding: 0 25px;
  border: 0 none;
  color: #424141;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.nav-links {
  margin-right: 3%;
}
.nav-links a {
  list-style: none;
  /*display: inline-block;*/
  text-decoration: none;
  justify-content: space-between;
}
.nav-icon {
  margin-left: 2%;
  font-size: 1.5rem;
}
.nav-icon-cart {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

/*-------------End of Nav-bar-------------*/

/*-------------Background Image-------------*/

.bgimg {
  /*--min-height: calc(100vh -60px);--*/
  height: 70vh;
  background: url("./bg1.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /*--animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: reverse;
  animation-fill-mode: normal;
  animation-play-state: running;--*/

  /*--background-position: 100% 0;--*/
  /*--background-repeat: repeat-x;--*/
  animation: animate 60s linear infinite;
}
@keyframes animate {
  0%,
  5% {
    background: url("./bg1.jpeg");
  }
  15%,
  20% {
    background: url("./shoes.jpeg");
  }
  30%,
  35% {
    background: url("./bestphone.jpeg");
  }
  45%,
  50% {
    background: url("./bestcar.jpeg");
  }
  60%,
  65% {
    background: url("./veges.jpeg");
  }
  75%,
  80% {
    background: url("./bg2.jpeg");
  }
  95%,
  100% {
    background: url("./besthouse.jpeg");
  }
}
.banner {
  text-align: center;
  background: white;
  display: inline-block;
  padding: 1rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/*-------------End of Background Image-------------*/
